<p>
<%= flash_messages %>
</p>

<% form_tag "/users/setup_reset_code" do  -%>
 
  <p>
    <label for="email">Enter your email to reset password</label><br />
    <%= text_field_tag :email %>
  </p>


  <p>
    <%= submit_tag 'Submit' %>
    <%= link_to "Cancel", login_path %>
  </p>
<% end -%>

