<div id="header">

  <%= link_to "home", root_url %>&nbsp; | &nbsp;
  <% if logged_in? %>
    <%= link_to "Logout", logout_path %>
  <% else %>
    <%= link_to "login", login_path %> &nbsp; | &nbsp;
    <%= link_to "Signup", signup_path %>
  <% end %>

</div>
