    <p>
      Your Current Password:<br />
      <%= password_field_tag "old_password", "", {:size => 30} %>
    </p>
  
    <p>
      New Password:<br />
      <%= f.password_field :password %>
    </p>
  
    <p>
      New Password Confirmation:<br />
      <%= f.password_field :password_confirmation %>
    </p>
  
